<section class="site-banner px-4 sm:px-8">
  <div class="container">
    <div class="swiper-container rounded-lg relative">
      <div class="swiper-wrapper">
        {{banner}}
        {% for item in sections.banner.banners %}
          <div class="swiper-slide relative" style="background-image: url({{item.image}})">
            <div class="absolute inset-0" style="background: linear-gradient(0deg, rgb(0 0 0) 0%, rgb(0 0 0 / 0%) 60%);"></div>
            <div class="absolute bottom-0 w-full">
              <div class="relative px-0 pl-10 mx-4 sm:mx-10 pb-16 lg:mx-32 ">
                <div class="slide-icon absolute border-white border-opacity-25 border-r left-0 pr-4 flex items-center justify-center">
                  {{ item.icon | prepend: '/src' | svgContents: "w-4 md:w-8 text-white text-opacity-75" }}
                </div>
                <div class="pl-4 md:pl-6">
                  <h3 class="text-primary text-sm md:text-lg uppercase text-sha lg:text-xl mb-1">{{ item.subtitle }}</h3>
                  <h2 class="relative slide-title uppercase font-bold text-xl sm:text-2xl md:text-3xl lg:text-5xl text-white">
                    {{ item.title }}</h2>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="swiper-pagination"></div>
      <div class="hidden sm:block swiper-button-prev text-gray-200"></div>
      <div class="hidden sm:block swiper-button-next text-gray-200"></div>
    </div>
  </div>
</section>
