<!-- Footer -->
<footer class='footer-area py-10 px-8 md:py-18' style='background-color:var(--color-secondary);'>
  <div class='container mx-auto' style='max-width: 540px;'>
    <div class='text-center mb-3'>
      <ion-icon class='text-6xl text-primary' src='/assets/img/icon_svg.svg'></ion-icon>
    </div>
    <div class='uppercase text-center text-2xl text-white mb-2'>{{footer.title}}</div>
    <div class='flex justify-center text-blue-900 mb-4'>
      {% for item in settings.socials %}
        <a href="{{item.url}}" class='block p-3 text-gray-400 hover:text-gray-300'>
          <ion-icon class='text-xl' src="{{ item.icon }}"></ion-icon>
        </a>
      {% endfor %}
    </div>
    <div class='flex flex-col mb-3'>
      {% for item in footer.contact %}
        <div class='flex items-center mb-1 text-gray-400'>
          <ion-icon class='text-lg text-primary' src="{{ item.icon }}"></ion-icon>
          <span class='ml-4 italic font-light'>{{item.text}}</span>
        </div>
      {% endfor %}
    </div>
    <div class='copyrights'>
      <p class='para text-gray-500 font-light'>
        {{footer.copyRight}}
        | Made by
        <a href="{{footer.madeBy.url}}" class='text-primary hover:opacity-75'>
          {{footer.madeBy.author}}
        </a>
      </p>
    </div>
  </div>
</footer>
