<!-- Footer -->
<footer class='relative footer-area py-10 px-8 sm:py-20 md:py-24 overflow-hidden' id='contact'>
  <img alt='' class='absolute hidden sm:block sm:h-1/2 sm:-translate-x-2/5 sm:translate-y-1/12 md:h-3/5 lg:h-full md:-translate-x-1/3 md:translate-y-1/12 w-auto left-0 bottom-0 transform lg:-translate-x-1/4 lg:translate-y-1/5' src='{{footer.leftImg}}'>
  <img alt='' class='absolute hidden sm:block sm:h-2/5 md:h-1/2 lg:h-3/5 w-auto right-0 top-0 transform md:translate-x-1/12' src='{{footer.rightImg}}'>

  <div class='container mx-auto' style='max-width: 460px;'>
    <div class='text-center mb-3'>
      <ion-icon class='text-6xl text-primary' src='{{footer.logo}}'></ion-icon>
    </div>
    <div class='uppercase text-center text-2xl text-secondary mb-2'>{{footer.title}}</div>
    <div class='flex justify-center text-blue-900 mb-4'>
      {% for item in settings.socials %}
        <a href="{{item.url}}" class='block p-3 text-gray-500 hover:text-gray-300'>
          <ion-icon class='text-2xl' name="{{ item.icon }}"></ion-icon>
        </a>
      {% endfor %}
    </div>
    <div class='flex flex-col mb-3'>
      {% for item in footer.contact %}
        <div class='flex items-center mb-1 text-gray-500'>
          <ion-icon class='text-xl text-primary' name="{{ item.icon }}"></ion-icon>
          <span class='ml-4 italic font-light'>{{item.text}}</span>
        </div>
      {% endfor %}
    </div>
    <div class='copyrights'>
      <p class='para text-gray-500 font-light'>
        {{footer.copyRight}}
        | Made by
        <a href="{{footer.madeBy.url}}" class='text-primary hover:opacity-75'>
          {{footer.madeBy.author}}
        </a>
      </p>
    </div>
  </div>
</footer>
