<!-- Footer -->
<footer class="footer-area py-10 px-8 md:py-18">
  <div class="container mx-auto" style="max-width: 540px;">
    <div class="text-center mb-3">
      {{ "/src/assets/img/icon_svg.svg" | svgContents:"w-12 h-12 inline-block text-primary" }}
    </div>
    <div class="uppercase text-center text-2xl text-secondary mb-2">{{footer.title}}</div>
    <div class="flex justify-center text-blue-900 mb-3">
      {% for item in footer.socials %}
        <a href="{{item.url}}" class="block p-3 text-gray-600 hover:text-gray-400">
          {{ item.icon | prepend: '/src' | svgContents:"w-5 h-5" }}
        </a>
      {% endfor %}
    </div>
    <div class="flex flex-col mb-3">
      {% for item in footer.contact %}
        <div class="flex items-center mb-1 text-gray-600">
          {{ item.icon | prepend: '/src' | svgContents: "text-primary inline-block w-4 h-4 " }}
          <span class="ml-4 italic font-light">{{item.text}}</span>
        </div>
      {% endfor %}
    </div>
    <div class="copyrights">
      <p class="para text-gray-600">
        {{footer.copyRight}}
        | Made by
        <a href="{{footer.madeBy.url}}" class="text-primary hover:opacity-75">
          {{footer.madeBy.author}}
        </a>
      </p>
    </div>
  </div>
</footer>
