<!-- Footer -->
<footer class="footer-area py-10 md:py-18">
  <div class="container mx-auto">
    <h5 class="uppercase text-center text-2xl text-blue-900">{{footer.title}}</h5>
    <div class="flex justify-center my-3 text-blue-900">
      {% for item in footer.socials %}
        <a href="{{item.url}}" class="block p-6 md:px-10">
          <i class="{{item.icon}} text-2xl hover:opacity-75"></i>
        </a>
      {% endfor %}
    </div>
    <div class="copyrights text-center text-blue-900">
      <p class="para">
        {{footer.copyRight}}
        | Made by
        <a href="{{footer.madeBy.url}}">
          <b>{{footer.madeBy.author}}</b>
        </a>
      </p>
    </div>
  </div>
</footer>
