<!-- Footer -->
<footer class="footer-area py-20">
  <div class="container mx-auto">
    <h5 class="uppercase text-center text-2xl">{{footer.title}}</h5>
    <div class="flex justify-center my-3">
      {% for item in footer.socials %}
        <a href="{{item.url}}" class="block py-6 px-10">
          <i class="{{item.icon}} text-2xl hover:opacity-75"></i>
        </a>
      {% endfor %}
    </div>
    <div class="copyrights text-center">
      <p class="para">
        {{footer.copyRight}}
        | Made by
        <a href="{{footer.madeBy.url}}">
          <span style="color: var(--primary-color);">{{footer.madeBy.author}}</span>
        </a>
      </p>
    </div>
  </div>
</footer>
